<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>html页面编辑</title>
</head>
<body>
	<!-- <script type="text/javascript" charset="utf-8" src="../js/jquery/2.1.1/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="../js/plugins/jquery-ui/jquery-ui.js"></script>
	<script type="text/javascript" charset="utf-8" src="../js/bootstrap/3.3.6/bootstrap.min.js"></script> -->
	<script type="text/javascript" charset="utf-8" src="../js/editor/ueditor/ueditor.config.js"></script>
	<script type="text/javascript" charset="utf-8" src="../js/editor/ueditor/ueditor.all.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="../js/editor/ueditor/lang/zh-cn/zh-cn.js"></script>
	
	<textarea id="container" name="container" style="width: 800px; height: 400px; margin: 0 auto;"></textarea>
	
	<script type="text/javascript">
	    var ue = UE.getEditor("container");
	</script>
</body>
</html>